[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bot_executor = {path = "./bot_executor/src", editable = true}
bot_optimizer = {path = "./bot_optimizer/src", editable = true}

[dev-packages]
"testfixtures" = "*"
black = "*"
"flake8" = "*"
colorama = "*"
gunicorn = "*"
pipdeptree = "*"
pytest = '*'
pytest-cov = '*'
pytest-mock = '*'
pytest-custom-exit-code = '*'


[requires]
python_version = "3.8"
